@model Crop_Img.Model.Models.Image
@{
    @ViewData["Image Crop"];
}
<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-right: 30px;">
            <form method="post" enctype="multipart/form-data" id="croppingImgForm">
                <label>Upload Images!</label>
                <input id="imgUp" type="file" name="up_files" class="form-control" />
                <input type="number" asp-for="ImageWidth" class="form-control mt-2" maxlength="4" id="imageWidth" placeholder="Input Image Width" />
                <input type="number" asp-for="ImageHeight" class="form-control mt-2" maxlength="4" id="imageHeight" placeholder="Input Image Height" />
            </form>
            <div class="text-center mt-2">
                <button onclick ="uploadImg()" class="btn btn-primary">Do The Magic!</button>
            </div>
        </div>
        <div class="col-md-8">
            <div id="imgsUploads">
                @*via ajax call response apend details
                @foreach (var item in Model)
                {
                    <partial name="_ShowImages" model="item"/>
                }*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $( document ).ready(function() {
            summonImgs();
        });
        function uploadImg() {
            var up_prod_img = document.getElementById("imgUp");
            var files = up_prod_img.files;
            var data = new FormData();
            var formData = $('#croppingImgForm').serializeArray();
            $.each(formData, function (key, input) {
                data.append(input.name, input.value);
            });
            for (var i = 0; i <= files.length;i++)
            {
                data.append("up_img", files[i]);
            }
            //for (var pair of data.entries()) {
            //    console.log(pair[0]+ ', ' + pair[1]); 
            //}
            debugger;
            $.ajax({
                url: "/Image/UploadImage",
                type: "POST",
                data: data,
                processData: false,
                cache: false,
                contentType: false,
                success: function (response) {
                    if (response.success == true) {
                        summonImgs();
                        $('#imgUp').val('');
                        $('#imageWidth').val('');
                        $('#imageHeight').val('');
                    }
                    else{
                        alert("Please fill all the fields!")
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function summonImgs(){
            $.ajax({
                url: "/Image/SummonedImages",
                type: "GET",
                success: function (res) {
                    $("#imgsUploads").html(res);
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }
    </script>
}